#images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.fullscreen-on img:not(.fullscreen) {
  display: none;
}

img {
  width: 200px;
  cursor: pointer;
}

.fullscreen {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  object-position: center;
}
